<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Employer home page</h1>
    <form method="POST">
        Company Name:
        <input type="text" name="company_name">
        Contact number:
        <input type="number" name="contact">

        <input type="submit" value="Submit">
    </form>

    <p><a href="/eajob">Add job</a></p>

    <a href="/elogout">Logout</a>
</body>
</html>