<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Employee Registration</h3>

    <form method="POST">
        Employer Name:
        <input type="text" name="employee_name"><br><br>
        Company Name:
        <input type="text" name="company_name"><br><br>
        Contact Number:
        <input type="number" name="contact"><br><br>
        E_name: 
        <input type="text" name="e_name"><br><br>
        Password:
        <input type="password" name="e_pass"><br><br>

        <input type="submit" value="Submit"><br><br>
    </form>

    <a href="/alogout">Admin Logout</a>
    

</body>
</html>