<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Job Insertion</h3>

    <form method="POST">
        Company Name:
        <input type="text" name="company_name"><br><br>
        Job Title:
        <input type="text" name="job_title"><br><br>
        salary: 
        <input type="number" name="salary"><br><br>
        Job Location
        <input type="text" name="job_loc"><br><br>

        <input type="submit" value="Submit"><br><br>
    </form>

    <a href="/elogout">Employer Logout</a>
    

</body>
</html>